body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#music-bg-image {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

.tracks-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.tracks-container img {
  height: 240px;
  width: 240px;
}